*{
    margin: 0;
    padding: 0;
}
.container{
    background-color: rgb(173, 179, 119);
    height: 980px;
}
.header{
    margin-left: 25%;
}
.github{
    width: 250px;
    height: 170px;
    margin: 40px ;
    display: inline-block;
}
 .header h1{
    margin-top: 163px;
    display: inline-block;
    font-size: 50px;
    position: absolute;
}
.catandninja{
    width: 250px;
    height: 150px;
    background-color: white;
    padding: 10px;
    margin: 40px;
    display: inline-block;
    margin-left: 450px;
}
